{% extends 'base.html.twig' %}

{% block title %}VenteFilm{% endblock %}

{% block body %}
    <h1>VenteFilm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente_film.id }}</td>
            </tr>
            <tr>
                <th>UpdatAt</th>
                <td>{{ vente_film.updatAt ? vente_film.updatAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Film</th>
                <td>{{ vente_film.film }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vente_film.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vente_film_index') }}">back to list</a>

    <a href="{{ path('app_vente_film_edit', {'id': vente_film.id}) }}">edit</a>

    {{ include('vente_film/_delete_form.html.twig') }}
{% endblock %}
