<nav class="sidebar sidebar-offcanvas g-primary" b id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_index')}}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Menu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_client_localisation')}}">
                <i class="mdi mdi-map-marker-multiple menu-icon"></i>
                <span class="menu-title">Localisation Client</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_client_index')}}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Client</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_vendeur_index')}}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Vendeur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_panier_index')}}">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Commande</span>
            </a>
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_article_index') }}">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Article</span>
            </a>
        <li class="nav-item">

        <a class="nav-link" href="{{ path('admin_pub_index') }}">
                <i class="mdi mdi-movie menu-icon"></i>
                <span class="menu-title">Publication</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_client_index')}}">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>
