{% extends 'base.html.twig' %}

{% block title %}Liste Clients{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-3 col-md-4">
            {{ form_row(form.mots) }}

        </div>
        <div class="col-lg-2 col-md-2">
            {{ form_row(form.Rechercher) }}

        </div>
        <div class="col-lg-6 col-md-4">
            <h2 style="text-align: center" class="bg-gray-700 text-white">
                Liste des clients
            </h2>
        </div>

    </div>
    {{ form_end(form) }}

    <div class="table-responsive">
                    <table class="table table-bordered bg-gray-700 text-white">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>prenom</th>
                            <th>Adresse</th>
                            <th>Localisation</th>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <th>Modifier</th>
                                <th></th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}

                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.nom }}</td>
                                <td>{{ client.prenom }}</td>
                                <td>{{ client.adresse}}</td>
                                <td>
                                    <a href="{{ path('admin_client_show', {'id': client.id}) }}"><button type="submit" class="btn btn-success me-2">Localiser</button></a>
                                </td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <td>
                                        <a href="{{ path('admin_client_edit', {'id': client.id}) }}"><button type="submit" class="btn btn-primary me-2">Modifier</button></a>
                                    </td>
                                    <td>
                                        <form method="post" action="{{ path('admin_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Voulez vous vaiment suprimer?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                            <button type="submit" class="btn btn-danger me-2">Suprimer</button>
                                        </form>
                                    </td>
                                {% endif %}

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        {{ knp_pagination_render(clients,'pagination.html.twig') }}

    </div>
{% endblock %}
