{% extends 'base.html.twig' %}

{% block title %}Ajouter au Stoke{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-8">
            {{ form_row(form.mots) }}

        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            {{ form_row(form.Rechercher) }}
        </div>

        <div class="col-lg-4 col-md-4 border-danger text-white">
            <h2 style="text-align: center;background-color: rgba(101,201,8,0.83)">
                Ajouter au Stoke
            </h2>
        </div>
        <div class="col-lg-2 col-md-2 border-danger">
        </div>

    </div>
    {{ form_end(form) }}
    <div class="table-responsive">
        <table class="table table-bordered text-white" style="background-color: rgba(98,196,6,0.83)">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix de Vente</th>
                <th>Image</th>
                <th>Quantite Restant</th>
                <th>Ajouter</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.price }} CFA</td>
                    <td class="w-5"><img style="width: 70px; height: 70px" class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.nom }}"></td>
                    {% set restant=article.quantiteInitial - article.quantiteVendue %}
                    <td>{{ restant }}</td>
                    <td>
                        <form method="post" action="{{ path('add', {'id': article.id})}}">
                            <label>
                                <input type="number" min="1" max="1000" required name="nom">
                            </label>
                            <button type="submit" class="btn btn-primary me-2">Ajouter</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(articles,'pagination.html.twig') }}

    </div>

{% endblock %}
