{% extends 'base.html.twig' %}

{% block title %}VenteArticle index{% endblock %}

{% block body %}
     {{ form_start(form) }}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-8">
        {{ form_row(form.user) }}

    </div>
    <div class="col-lg-4 col-md-4 col-sm-8">
        {{ form_row(form.from) }}

    </div>
    <div class="col-lg-4 col-md-4 col-sm-8">
        {{ form_row(form.to) }}

    </div>

</div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-4">
            {{ form_row(form.Rechercher) }}
        </div>

        <div class="col-lg-4 col-md-4 border-danger text-white">
            <h2 style="text-align: center;background-color: rgba(185,4,4,0.83)">
                Historique des ventes
            </h2>
        </div>
    </div>
{{ form_end(form) }}
<div class="table-responsive">
    <table class="table table-bordered text-white" style="background-color: rgba(185,4,4,0.83)">
        <thead>
            <tr>
                <th>Id</th>
                <th>UpdatAt</th>
                <th>Utilusateur</th>
                <th>Article</th>
                <th>Quantite</th>
                <th>Prix Total</th>
            </tr>
        </thead>
        <tbody>
        {% for vente_article in vente_articles %}
            <tr>
                <td>{{ vente_article.id }}</td>
                <td>{{ vente_article.updatAt ? vente_article.updatAt|date('d-m-y H:i:s') : '' }}</td>
                <td>{{ vente_article.user.nom }}</td>
                <td>{{ vente_article.article.nom }}</td>
                <td>{{ vente_article.quantite }}</td>
                <td>{{ vente_article.quantite * vente_article.article.price}} Cfa</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(vente_articles,'pagination.html.twig') }}

</div>
{% endblock %}
